#logo{
    width: 90px;
    margin: auto;
}

#content{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

#seccion1{
    position: relative;
    overflow: hidden;
}


#nube{
    width: 50%;
    top: 10%;
    left: 25%;
    position: absolute;
    margin: auto;
    text-align: center;
    color: rgb(10, 9, 9);
}

.header-seccion2, .header-seccion4{
    color: rgb(7, 64, 248);
    font-size: 18pt;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    margin: 20px;
}

.header-seccion5{
    color: rgb(0, 0, 0);
    font-size: 18pt;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    padding: 30px;
}
.header-seccion3, .header-seccion6{
    color: rgb(255, 255, 255);
    font-size: 18pt;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    padding: 30px;
}

#seccion3{
    background:#5499c7;
}

#seccion4{
    background:#000000;
    color: white;
    font-size: 14pt;
}

#seccion5{
    background:  #ccd1d1;
    color: black;
    font-size: 14pt;
}

#seccion6{
    background:#2ca3f1;
    font-size: 12pt;
}

#div-icon{
    width: 50%;
    margin: auto;
    text-align: center;
    color: white;
}
#div-icon h4{
    text-align: center;
    color: white;
}

#img-almacenamiento{
    width: 100%;
    margin: 40px;
}

#trabajo-colaborativo, #file-dowload-upload{
    width: 95%;
    float: left;
    margin: 40px;
    height: 500px;
}

.container h5{
    text-align: justify;
    color: rgb(7, 64, 248);
    margin: 13px;
}

#seccion6 p{
    text-align: justify;
    font-size: 16pt;
    color: rgb(248, 248, 248);
}

#nube img{
    width: 40%;
}
#nube h5{
    margin: auto;
    font-size: 20pt;
    font-style: normal;
    font-weight: 900;
    width: 50%;
    color: rgb(253, 253, 253);
}

.grid{
    width: 50%;
    font-size: 14pt;
    font-weight: 900;
    top: 50%;
    left: 25%;
    position: absolute;
    margin: auto;
    text-align: center;
    color: rgb(247, 247, 247);
}
