#logo{
    width: 90px;
    margin: auto;
}

#titulo{
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}


#content{
    width: 100%;
  /*  margin: auto;*/
    overflow: hidden;
}

#seccion1{
    height: 700px;
    background-image: url("../mocks/Imagenes/M1-Portada-Background.jpg");
    background-size: 100%;

}
#seccion2{
    height: 650px;
}

#backgroundNube{
    width: 100%;
}

#navbarDropdown,#navbarDropdown2,.textoAzul{
    color: #2b78e4 !important;   
}

.textoAzulFooter{
    color: #2b78e4 !important;   
    text-decoration: underline;

}

.textoBlancoFooter{
    color: #FFFFFF !important;   
    text-decoration: underline;
}

.textoBlanco{
    color: #ffffff !important;    
}

.textoNegro{
    color: #000000 !important;    
}

#nube{
    width: 50%;
    top: 10%;
    left: 25%;
    position: absolute;
    margin: auto;
    text-align: center;
    color: rgb(10, 9, 9);
}

.precioTag{
    color: #2b78e4;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.precioValue{
    color: green;
    font-size: 35px;
    font-weight: bold;

}

.header-seccion2, .header-seccion4, .header-seccion7{
    color: #2b78e4;
    font-size: 18pt;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    margin: 30px;
}

.tablePrecio{
    text-align: center;
}

.header-seccion5{
    color: rgb(0, 0, 0);
    font-size: 18pt;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    padding: 30px;
}
.header-seccion3, .header-seccion6, .header-seccion8{
    color: rgb(255, 255, 255);
    font-size: 18pt;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    padding: 30px;
}

#seccion3{
    background-color:#2b78e4;
    height: 690px;
}

#iconoSec3-1,#iconoSec3-2,#iconoSec3-3{
    width: 200px;
    height: 200px;
}

#seccion4{
    background:#000000;
    color: white;
    font-size: 14pt;
    height: 700px;
}

#seccion5{
    background:  #ccd1d1;
    color: black;
    font-size: 14pt;
    height: 700px;
}

#seccion6{
    background:#2b78e4;
    font-size: 12pt;
    height: 650px;
}

#seccion7{
    background:#FFFFFF;
    font-size: 12pt;
    height: 700px;
}

#seccion8{
    background:#2b78e4;
    font-size: 24pt;
    height: 650px;
}

#footer{
    background:#000000;
    font-size: 24pt;
    height: 450px;
}

#div-icon{
    width: 50%;
    margin: auto;
    text-align: center;
    color: white;
}
#div-icon h4{
    text-align: center;
    color: white;
}

#img-almacenamiento{
    width: 100%;
    margin: 40px;
}

#trabajo-colaborativo{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 300px;
}

#file-dowload-upload{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 500px;
}

.container {
    text-align: justify;
    color: rgb(7, 64, 248);
    margin: 13px;
}

#seccion6 p{
    text-align: justify;
    font-size: 16pt;
    color: rgb(248, 248, 248);

}

#nube img{
    width: 40%;
}

#nube h5{
    margin: auto;
    font-size: 20pt;
    font-style: normal;
    font-weight: 900;
    width: 50%;
    color: rgb(253, 253, 253);
}

.grid{
    width: 50%;
    font-size: 14pt;
    font-weight: 900;
    top: 50%;
    left: 25%;
    position: absolute;
    margin: auto;
    text-align: center;
    color: rgb(247, 247, 247);
}
