#logo{
    width: 90px;
    margin: auto;
}

#seccion1{
    background-image: url('../mocks/Imagenes/M1-Portada-Background.jpg');
}

#content{
    width: 100%;
    margin: auto;
    position: absolute;
    overflow: hidden;
}

#seccion1{
    position: relative;
}